#pabaiga {

    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 0%, rgb(0, 0, 0) 20%);
    color: #ffffffb3;
    font-weight: 400;



    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 72px 48px;
    }

    .questions {
        height: 33px;
    }

    .questions a {
        text-decoration: none;
        color: #ffffffb3;
    }

    .links {
        padding-bottom: 22px;
    }

    .links ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
    }

    .links ul li {
        list-style-type: none;
        margin: 16px 0 5px 12px;
        min-width: 250px;
        width: 300px;
        text-decoration: underline;
        font-size: 14px;
    }

    .language-select select {
        padding: 5px;
        width: 129px;
        background-color: #0F0F0F;
        color: white;
        font-size: 16px;
        border-radius: 4px;
    }

}